[Service]
WorkingDirectory=/
ExecStart=/home/nitive/Develop/keyboard/kmonad-start.sh
Restart=always
RestartSec=3
Nice=-20
User=root
Environment="KEYBOARD_DEVICE=/dev/input/by-id/usb-04d9_USB-HID_Keyboard-event-kbd"

[Install]
WantedBy=multi-user.target
