[Service]
Type=simple
WorkingDirectory=/
ExecStart=/home/nitive/Develop/keyboard/kmap-start.sh
Restart=always
RestartSec=3
KillSignal=SIGTERM
TimeoutStopSec=3s
SendSIGKILL=yes
Nice=-20
User=nitive
Group=input
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="WAYLAND_DISPLAY=wayland-0"

[Install]
WantedBy=multi-user.target
